
.text-purple {
    color:purple;
}

.font-pixel {
    font-family: 'Silkscreen', cursive;
}


.konumortala-text {
    position:absolute;
    text-shadow: 2px 2px #612897;
    top: 30%;
    left: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
    font-family: 'Silkscreen', cursive;
}

.konumortala-p h3{
    position:absolute;
    color: #0C1E7F;
    word-spacing: 350px;
    text-shadow: 1px 2px#612897;
    top: 45%;
    left: 20%;
    transform: translate(-00%, -50%);
    font-family: 'Silkscreen', cursive;
}


.konumortala-gif {
    position:absolute;
    top: 50%;
    left: 10%;
    right: 0%;
    transform: translate(0, 0);

}

nav ul {
    float: none;
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#FF008E;

}

nav li{
    float: left; 
    font-size: 22px;
    line-height: 40px;
    align-self: center;
    font-family: 'Silkscreen', cursive;
    
}


nav li a {
    display:inline-block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    
}

nav li a:hover {
    background-color: rgb(160, 40, 160);
    color: white;
    
}

footer {
    position:fixed;
    bottom: 0%;
    text-align: center;
    height: 4%;
    width: 99.2%;
    background-color: #0C1E7F;
    color: white;
    
  }