/* class (sinif) belirtirken  ->  .text-red ornegin*/
/* id belirtirken -> #id-bilgisi {} */

h1, h2, h3, h4, h5, h6{
    font-size:30px;
}

p{
    font-size: 20px;
}

.text-red {
    color: red;
}

#first-article {
    font-size:50px;
    color:rgb(62, 62, 206)
}

.fs-14 {
    font-size:14px;
}

.fs-20 {
    font-size:20px;
}

.fs-30 {
    font-size:30px;
}